@charset "UTF-8";

body{
    background-image: linear-gradient(to right,#EE964B,#FF66B3 );
}
main{
    background-color: white;
    padding: 50px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 5px #628395;
}
h1{
    text-align: center;
    color: rgb(43, 80, 100);
}
p{
    color: #260C1A;
}
button{
    background-color: aliceblue;
    border-radius: 5px;
}