@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima&family=Outfit&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima&family=Outfit:wght@700&family=Permanent+Marker&display=swap');
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    font-family: 'Outfit', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.075);
    text-align: justify;
    
    
}
.container{
    width: 100vw;
    display: flex-box;
    background-color: white;
    margin: auto;
    align-items: center;
    justify-content: content;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 300px;
    max-width: 1440px;
    width: min-content;
}
img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
h1{
    font-size: 1.5em;
    color: hsl(218, 44%, 22%);
    padding: 10px;
}
p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 0px 10px 10px 10px;
}